// Palette URL: http://paletton.com/#uid=7350u0kw0lKnRtptCqjEhhoNUbW */

$color-primary: #007549;
$color-primary-light: #eeeeee;
$color-primary-dark: #002B1B;
$color-primary-complement: #AD3600;

$color-secondary: #083F70;
$color-secondary-complement: #AD6500;
