@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html {
    font-family: sans-serif;
}

table {
    font-family: 'Special Elite', cursive;
}

td {
    text-align: center;
}

.text {
    &--center {
        text-align: center;
    }

    &--light-color {
        color: $color-primary-light;
    }
}
