<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Check DingDing</title>
    <script>
        if (location.protocol === 'http:' && location.hostname !== 'localhost')
            location.href = location.href.replace(/^http:/, 'https:')
    </script>
    <script>
        var appInsights=window.appInsights||function(e){function t(e){i[e]=function(){var t=arguments;i.queue.push(function(){i[e].apply(i,t)})}}var n,a,i={config:e},r=document,c=window,s="script",o="AuthenticatedUserContext",p="start",u="stop",d="Track",g=d+"Event",h=d+"Page",f=r.createElement(s);f.src=e.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(s)[0].parentNode.appendChild(f);try{i.cookie=r.cookie}catch(e){}for(i.queue=[],i.version="1.0",n=["Event","Exception","Metric","PageView","Trace","Dependency"];n.length;)t("track"+n.pop());return t("set"+o),t("clear"+o),t(p+g),t(u+g),t(p+h),t(u+h),t("flush"),e.disableExceptionTracking||(n="onerror",t("_"+n),a=c[n],c[n]=function(e,t,r,c,s){var o=a&&a(e,t,r,c,s);return!0!==o&&i["_"+n](e,t,r,c,s),o}),i}({instrumentationKey:"b98d4162-427f-4626-9742-50391ec88b8d"});window.appInsights=appInsights,appInsights.trackPageView();
    </script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id='app'>
        <fieldset>
            <input type="text" id="stopCodeIpt" pattern="[0-9A-Za-z_]+" maxlength="5" placeholder="Stop code name">
            <button type="button" id="checkInputBtn">Check</button>
        </fieldset>
        <fieldset>
            <button type="button" id="checkNearestBtn">Check Nearest</button>
        </fieldset>
        <div v-if='userCoords.length > 0'>{{userCoords[0]}} {{userCoords[1]}}</div>
        <div v-if='tramEta.length > 0'>
            <table v-for='dataSet in tramEta'>
                <caption>{{dataSet[0]}} - {{tramData[dataSet[0]]['Names'][0]}}</caption>
                <tr>
                    <th>Destination</th>
                    <th>X mins to arrive</th>
                </tr>
                <tr v-for='eta in dataSet[1]'>
                    <td>{{eta.$.tram_dest_en}}</td>
                    <td>{{eta.$.arrive_in_minute}}</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        (function () {
            var app = new Vue({
                el: '#app',
                data: {
                    tramEta: [],
                    tramData: null,
                    userCoords: []
                }
            })

            window.loadTramStops = (data) => {
                app.tramData = data
            }

            var stopCodeIpt = document.getElementById('stopCodeIpt')
            var checkInputBtn = document.getElementById('checkInputBtn')
            var checkNearestBtn = document.getElementById('checkNearestBtn')

            checkInputBtn.addEventListener('click', function (el, ev) {
                var stopCode = stopCodeIpt.value
                var xhr = new XMLHttpRequest()
                xhr.open('GET',
                    `https://53tbcx200c.execute-api.ap-northeast-1.amazonaws.com/prod/get_tram_eta?stop=${stopCode}`
                )
                app.tramEta = []
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        var resData = JSON.parse(xhr.responseText)
                        if ('metadata' in resData.root)
                            app.tramEta.push([stopCode, resData.root.metadata])
                    }
                };
                xhr.send()
            })

            checkNearestBtn.addEventListener('click', function (el, ev) {
                if (!("geolocation" in navigator)) return

                navigator.geolocation.getCurrentPosition(function(position) {
                    var lat = position.coords.latitude
                    var lng =position.coords.longitude
                    app.userCoords = [lat, lng]
                    loadNearestStops(lat, lng)
                })

                function loadNearestStops (lat, lng) {
                    if (!app.tramData) return

                    var stopDists = []
                    for (let tramStopCode in app.tramData) {
                        var coords = app.tramData[tramStopCode]['Coordinates']
                        var roughDist = Math.sqrt(
                            Math.pow(lat - coords[0], 2) + Math.pow(lng - coords[1], 2)
                        )
                        stopDists.push([tramStopCode, roughDist])
                    }

                    stopDists.sort((a, b) => {
                        return a[1] - b[1]
                    })

                    stopDists.splice(2)

                    stopDists.forEach((stopDist) => {
                        var stopCode = stopDist[0]
                        var xhr = new XMLHttpRequest()
                        xhr.open('GET',
                            `https://53tbcx200c.execute-api.ap-northeast-1.amazonaws.com/prod/get_tram_eta?stop=${stopCode}`
                        )
                        app.tramEta = []
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE) {
                                var resData = JSON.parse(xhr.responseText)
                                if ('metadata' in resData.root)
                                    app.tramEta.push([stopCode, resData.root.metadata])
                            }
                        };
                        xhr.send()
                    })
                }
            })
        }())
    </script>
    <script src="/loadTramStops.js"></script>
</body>

</html>
